<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <meta name="description" content="Melibo Registration" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="global.css" />
    <script src="https://js.stripe.com/v2/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="registration.js" defer></script>
</head>

<body>
<!-- Display a payment form -->
<form id="registration-form">
    <p><b>Welcome to Melibo Registration</b></p>
    <input type="text" id="name" placeholder="Name" required />
    <input type="text" id="email" placeholder="Email" required />
    <input type="password" id="password" placeholder="Password" required />
    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Register</span>
    </button>
</form>
</body>
</html>
